!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %title simple-navigationExamples
    %link{:href => '/stylesheets/navigation.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen'}
  %body
    
    = partial 'structure/header'
    
    #main_content
    
      %a{:href => '/'} Back to examples
      %div{:style => 'margin-bottom: 10px'}
      = yield
