.footer
  .src_code
    Source Code:
    %a{:href => "/gist/#{options[:haml]}"} Haml
  .styling
    Style:
    %a{:href => "/gist/#{options[:sass]}"} Sass
    |
    %a{:href => "/gist/#{options[:css]}"} Css
  .clear_float